@import "./prism-dracula.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
