@import "./prism-dracula.scss";
@import "./prism-one-light.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
html {
    font-family: 'Noto Sans KR', sans-serif;
}

body.dark {
    background-color: #242729;
    color: #ebebeb;
}

.post * {
    overflow-wrap: break-word;
}

/* Footnotes */
.post sup a[data-footnote-ref] {
    scroll-margin-top: 50px;
}

.post h1,.post h2,.post h3,.post h4 {
    scroll-margin-top: 50px;
}
.post h1 + h2,.post h2 + h3,.post h3 + h4 {
    margin-top: 0.2rem;
}
body.dark .post h1,body.dark .post h2,body.dark .post h3,body.dark .post h4 {
    border-color: #777;
}

.post h1 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    font-size: 2rem;
}

.post h2 {
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
}

.post h3 {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
}

.post h4 {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}

.post p {
    margin: 1.1rem 0;
    /* Use the following rule to indent the first word. */
    /* text-indent: 0.4rem; */
}
.post h1 + p,.post h2 + p,.post h3 + p,.post h4 + p {
    margin-top: 0.2rem;
}

.post blockquote {
    padding-left: 1rem;
    padding-right: 0.5rem;
    overflow: auto;
    border-left: 3px solid #00a2ff;
    border-radius: 0 5px 5px 0;
    background-color: #f4f4f4;
}
body.dark .post blockquote {
    background-color: #202d37;
}

/** markdown alerts */
.post .markdown-alert {
    padding-left: 1rem;
    padding-right: 0.5rem;
    overflow: auto;
    border-left: 3px solid #00a2ff;
    border-radius: 0 5px 5px 0;
    background-color: #f4f4f4;
}
body.dark .post .markdown-alert {
    background-color: #202d37;
}
.post .markdown-alert-title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}
.post .markdown-alert p:nth-child(2) {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
/** note, tip, warning alerts */
.post .markdown-alert-note {
    border-left-color: #00a2ff;
}
.post .markdown-alert-note .markdown-alert-title {
    color: #00a2ff;
    fill: #00a2ff;
}.post .markdown-alert-tip {
    border-left-color: #00b2ff;
}
.post .markdown-alert-tip .markdown-alert-title {
    color: #00b2ff;
    fill: #00b2ff;
}
.post .markdown-alert-warning {
    border-left-color: #f0a500;
}
.post .markdown-alert-warning .markdown-alert-title {
    color: #f0a500;
    fill: #f0a500;
}


.post img {
    width: 100%;
    max-height: 55vh;
    object-fit: contain;
    display: block;
    margin: 0.2rem auto;
}
.post img + img {
    margin-top: 0;
}
.post img:has(+ img) {
    margin-bottom: 0;
}


.post a {
    color: #00a2ff;
    text-decoration: underline;
}
.post a:visited {
    color: #a520ff;
}
.post a:hover {
    filter: brightness(125%);
}
.post a:active {
    filter: brightness(150%);
}

.post ol, .post ul {
    padding-left: 1.5rem;
}
.post ol li {
    list-style-type: decimal;
}
.post ul li {
    list-style-type: circle;
}

.post table {
    border-collapse: separate;
    border-radius: 4px;
    border: 1px solid;
    border-spacing: 0;
}
.post th,
.post td {
    padding: 2px 6px;
}
.post th:first-child,
.post tr:not(:last-child) td:first-child {
    border-width: 0 1px 1px 0;
}
.post th:not(:first-child):not(:last-child),
.post tr:not(:last-child) td:not(:first-child):not(:last-child) {
    border-width: 0 1px 1px 0;
}
.post th:last-child,
.post tr:not(:last-child) td:last-child {
    border-width: 0 0 1px 0;
}
.post tr:last-child td:not(:last-child) {
    border-width: 0 1px 0 0;
}

.post code {
    font-family: 'Fira Code', monospace;
}

.post code:not(pre code) {
    background-color: #f0f0f0;
    padding: 1px 3px;
    border-radius: 4px;
    color: #05a220;
}
body.dark .post code:not(pre code) {
    background-color: #373737;
    color: #00e333;
}

.post pre code {
    font-size: 0.9rem;
}
body.dark .post pre code *::selection {
    background-color: #585858;
}

/*
I don't know why, but tailwind set svg display: block.
This causes inline mathjax formulas take up blocks.
Thus prevent it by apply the rule to post only.
https://github.com/tailwindlabs/tailwindcss/blob/9a52f90fe9b6814aa8c156ccc348ef5b129f6a4e/src/css/preflight.css#L351-L361
 */
.post svg {
    display: unset;
}

.post hr {
    border-color: #d0d0d0;
}
body.dark .post hr {
    border-color: #777;
}

/** Fix mathjax overflows parent container. */
.post .MathJax {
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
}

/* Below lines copied & pasted from https://www.npmjs.com/package/rehype-prism-plus */
.post pre {
    overflow-x: auto;
}

/**
* Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
* 1. Make the element just wide enough to fit its content.
* 2. Always fill the visible space in .code-highlight.
*/
.code-highlight {
    float: left;
    /* 1 */
    min-width: 100%;
    /* 2 */
}

.code-line {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
    border-left: 4px solid rgba(0, 0, 0, 0);
    /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
    background-color: rgba(16, 185, 129, 0.2);
    /* Set inserted line (+) color */
}

.code-line.deleted {
    background-color: rgba(239, 68, 68, 0.2);
    /* Set deleted line (-) color */
}

.highlight-line {
    margin-left: -16px;
    margin-right: -16px;
    /* Set highlight bg color */
    background-color: rgba(85, 95, 95, 0.15);
    /* Set highlight accent border color */
    border-left: 4px solid rgb(59, 130, 246);
}

.line-number::before {
    display: inline-block;
    width: 1rem;
    text-align: right;
    margin-right: 16px;
    margin-left: -8px;
    color: rgb(156, 163, 175);
    /* Line number color */
    content: attr(line);
}
